@use'../custom' as *;
@use'../components/mixins' as *;

.testimonials{
    @include gradient;
    position: relative;
    padding: 0;

    &--card{
        background-color:rgba($white,0.8);
        padding: 2rem 1.25rem;
        border-radius: .625rem;
        text-align: center;
        height: auto;

        i{
            font-size: 1.5rem;
            color: rgba($primary, 0.7);
        }
        .ratings{
            padding: .5rem;

            i{
                font-size: 1rem;
            }
        }
    }

    &--img{
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 50%;
        transform: translate(-50% , -50%);

        img{
            border: .25rem solid rgba($primary, 0.7);
        }
    }

    &--client{
        padding-top: 4rem;
        margin-bottom: 1rem;

        h3{
            text-transform: capitalize;
        }
        p{
            text-transform: capitalize;
            padding-bottom: 2rem;  
        }
    }
}